#mainHeader {
    height: 80px;
    width: 100vw;
    background: green;
    display: flex;
    justify-content: center;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.5), 0 6px 6px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
}

#headerContainer {
    height: 100%;
    width: 98%;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.pageTitle {
}

#logo {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 200px
}

.logoImg {
    height: 78px;
    width: 78px;
}

#loginheader {
    display: flex;
    top: 0;
    align-items: center;
}

#loginimg {
    height: 60px;
    width: 60px;
}

#dropdown {
    height: 30px;
    width: 30px;
    margin-left: 20px;
    border: solid rgb(68, 68, 68) 1px;
    border-radius: 10px
}

